/venv
__pycache__/bert_try.cpython-37.pyc
*.pyc
DownloadErrorLog.txt
*.log
crawler/Downloader/Downloader.py
preprocessing/TitlePreprocessor/dataset
*.h5
*.iml
*.xml
model/saved_model.pb
model/variables/variables.data-00000-of-00001
model/variables/variables.index
*.midi
*.npy
*.mid
*.zip
*.npz
1.txt
track_extractor/extractor/notebook/Analysis.ipynb
*.ipynb
/.idea
.vscode/settings.json
model/2021_1_2/mean/variables/variables.index
model/2021_1_2/mean/variables/variables.data-00000-of-00001
model/2021_1_2/mean/saved_model.pb
model/2021_1_2/variance/variables/variables.data-00000-of-00001
model/2021_1_2/variance/saved_model.pb
.idea/AI-Project.iml
